<br> <br>
<section class="card text-white rounded blur-bg custom-form-bg">
  <br>
  <div class="card-body text-center ">
    <h1>Acerca de</h1>
    <img class="logo2 mx-auto d-block" src="/img/user.png" alt="Logo" /><br>
    <p>
      VISUALIZACION DE COLABORACIONES DESHONESTAS EN CURSOS EN LÍNEA MASIVOS Y PRIVADOS CON RECONOCIMIENTO ACADÉMICO
      Los cursos masivos abiertos en línea (MOOC) son cursos en línea que atienden a una gran cantidad de estudiantes,
      están diseñados para una participación abierta y cualquier persona puede acceder a ellos a través de Internet.
      <br><br>
      Los MOOC se han convertido en un medio educativo prometedor en todo el mundo, atrayendo mucho la atención de
      varias partes interesadas, y muchas instituciones han optado por incluirlos en sus programas educativos, incluso
      para obtener créditos académicos.
    </p>
    <hr class="my-4" />
    <br>
  </div>
</section>