<br> <br>
<section class="card text-white rounded blur-bg custom-form-bg">
  <br>
  <div class="card-body text-center ">
    <h1>BIENVENIDO A NOAH</h1>
    <img class="logo2 mx-auto d-block" src="/img/user.png" alt="Logo" />
    <p>El presente trabajo se centrará en visualizar indicadores y métricas que permitan detectar
      colaboraciones en MPOC/SPOC a partir de datos (interacciones del alumno con la plataforma de aprendizaje) para el
      posterior análisis del comportamiento de las colaboraciones descubiertas mediante métodos de análisis. (Learning
      Analytics) que nos ayudan a comprender su comportamiento y los posibles motivos de su cooperación.</p>
    <hr class="my-4" />


    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="/img/Grafica.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Grafica 1</h5>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Gráficos de columnas. ...
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/img/Grafica2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Grafica 2</h5>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Gráficos circulares. ...
            </small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/img/Grafica3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Grafica 3</h5>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Gráficos de líneas. ...
            </small>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>