<br> <br><section class="card text-white rounded blur-bg custom-form-bg">
      <br>
      <div class="card-body text-center ">
            <img class="logo2 mx-auto d-block" src="/img/mantenimiento.png" alt="Logo" />
            <div class="d-flex justify-content-center">
                  <h1>En Mantenimiento... </h1>
                  <div class="spinner-border" role="status">
                        <span class="visually-hidden"> Loading...</span>
                  </div>
            </div>
            <hr class="my-4" />
            <br>
      </div>
</section>